language: node_js
node_js:
  - '10'
script:
  - npm run build
deploy:
  local_dir: docs
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
