body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 400px;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

.addTodo {
  display: flex;
}

.textfield {
  flex-grow: 1;
  margin-right: 10px;
}

.submit {
  border: none;
  padding: 5px 10px;
}

.filter {
  margin: 10px 0 0;
}

.filter button {
  background: transparent;
  border: none;
}

.todos {
  list-style: none;
  padding: 0;
}
