@import url(https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.1/css/fabric.min.css);
@import url(./github.css);

body {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  flex: 1 1 40%;
  padding: 50px;
}

#markdownReadme {
  box-sizing: border-box;
  flex: 1 1 60%;
  background: #efefef;
  padding: 50px;
  margin: 0 auto;
  height: 100vh;
  overflow: scroll;
}

pre {
  padding: 15px;
  border: 1px #999 solid;
  border-radius: 2px;
  background-color: white;
  margin: 15px 0;
  overflow: auto;
}
